name: CI

on:
  push:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@v5 # or alternative dependency management
      - uses: php-actions/phpunit@v2

      - name: Run Tests
        env:
          USER_ID: ${{ secrets.USER_ID }}
          API_KEY: ${{ secrets.API_KEY }}
        run: composer test tests
